<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Item</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
     <h1><%=budgetItem.name%></h1>
        <a href="/budgets"><button type="button">BACK</button></a>
        <a href="/budgets/<%= index %>/edit"><button>EDIT</button></a>

        <table>
            <tr>
                <td class="first-child">date</td>
                <td class="first-child"><%=budgetItem.date%></td>
            </tr>
            <tr>
                <td class="first-child">name</td>
                <td class="first-child"><%=budgetItem.name%></td>
            </tr>
            <tr>
                <td class="first-child">from</td>
                <td class="first-child"><%=budgetItem.from%></td>
            </tr>
            <tr>
                <td class="first-child">amount</td>
                <td class="first-child"><%=budgetItem.amount%></td>
            </tr>
            <tr>
                <td class="first-child">tags</td>    
                <td class="first-child"><%=budgetItem.tags.toString()%></td>
            
            </tr>
        </table>
    </div>
     
</body>
</html>